{% extends "base.html" %}
{% block content %}
        <section class="py-4">
            <h2 class="text-xl font-bold">Introduction</h2>
            <p>Welcome to our Privacy Policy page. When you use our web services, you trust us with your information. This Privacy Policy is meant to help you understand what data we collect, why we collect it, and what we do with it. This is important; we hope you will take time to read it carefully.</p>
        </section>
        <section class="py-4">
            <h2 class="text-xl font-bold">Information We Collect</h2>
            <p>We collect information to provide better services to all our users. We collect information in the following ways:</p>
            <ul>
                <li>Information you give us. For example, our services require you to sign up for an account. When you do, we’ll ask for personal information, like your name, email address, telephone number, or credit card.</li>
                <li>Information we get from your use of our services. We collect information about the services that you use and how you use them, like when you visit a website that uses our advertising services or you view and interact with our ads and content.</li>
            </ul>
        </section>
        <section class="py-4">
            <h2 class="text-xl font-bold">How We Use Information We Collect</h2>
            <p>We use the information we collect from all of our services to provide, maintain, protect, and improve them, to develop new ones, and to protect our users. We also use this information to offer you tailored content – like giving you more relevant search results and ads.</p>
        </section>
        <section class="py-4">
            <h2 class="text-xl font-bold">Information We Share</h2>
            <p>We do not share personal information with companies, organizations, and individuals outside of our organization.</p>
        </section>
        <section class="py-4">
            <h2 class="text-xl font-bold">Changes</h2>
            <p>Our Privacy Policy may change from time to time. We will not reduce your rights under this Privacy Policy without your explicit consent. We will post any privacy policy changes on this page and, if the changes are significant, we will provide a more prominent notice (including, for certain services, email notification of privacy policy changes).</p>
        </section>
{%endblock%}